.flip-card {
  height: 254px;
}

.flip-card-inner {
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-back {
  transform: rotateY(180deg);
}
